{{#each menu}}
<form class="blocks" method="POST" action="/cart/restaurants/{{this.id}}">
        <img class="block_img" src="/Images/{{this.image}}" width="100%" height="100%">
        <div class="block_title">{{this.name}}</div>
        <div class="block_sub_title">{{this.subCategory}}</div>
        <div class="rating">* {{this.rating}}</div>
        <div class="delivery_time">.  {{this.deliverTime}}</div>
        <div class="per_head">{{this.pricePerPerson}}</div>
        <div class="quickview">QUICK VIEW</div>
        <button class="addButton">Add</button>
</form>
{{/each}}