<html>
<head>
    <link rel="stylesheet" href="/CSS/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/JS/cart.js"></script>
</head>
<title></title>
<body>
    {{>nav}}  
    <ul class="item" id="item" style="margin-top: 100px;">
        <li class="item-cart" >
            <div class="item-name" style="font-weight:600">Item name </div>
            <div class="item-price" style="margin-left:60px">Price</div>
        </li>
    </ul>
    {{#each carts}}
    <ul class="item" style="margin-top: 20px;">
        <li class="item-cart" id="item-cart{{@index}}">
            <div class="item-name">{{this.cart.name}}</div>
            <div class="item-price" id="price{{@index}}">{{this.cart.total}}</div>
            <button class="addItemButton" onclick="addQuantity(this, {{this.cart.price}}, {{@index}})">+</button>
            <div class="quantity" id="quantity{{@index}}">{{this.cart.quantity}}</div>
            <button class="addItemButton" onclick="subQuantity(this, {{this.cart.price}}, {{@index}})">-</button>
        </li>
    </ul>
    {{/each}}

    <form method="POST" action="/clearcart" id="totalPrice" class="totalPrice" style="border-radius:15px">
    <div class="totalPrice-cart">
        <button class="clearcart"> CLEAR CART</button>
        <div class="endAmount" style="margin-left:80%">TOTAL:</div>
        <div id="endAmount" class="endAmount">{{purschase}}</div>

    </div>
    </form>



    <div class="Pay">
        <button class="ReadyToPay" id="rzp-button1" onclick="readyToPay()">READY TO PAY {{purschase}}</button>
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        var orderId ;
        var userName='{{userName}}';
        var Amount=document.getElementById("endAmount")
        console.log("TOTAL AMOUNT" +Amount.innerHTML)
        var object={
            amount:Amount.innerHTML*100
        }
        function getOrderId(){
        object.amount = Amount.innerHTML*100
        $(document).ready(function(){
        console.log("function Call 2")
        var settings = {
        "url": "/cart",
        "method": "POST",
        "timeout": 0,
        "headers": {
            "Content-Type": "application/json"
        },
        "data": JSON.stringify(object),
        };

        //creates new orderId everytime
        $.ajax(settings).done(function (response) {
        orderId=response.orderId;
        console.log(orderId);
        $("button").show();
        });
        });

        }
        document.getElementById('rzp-button1').onclick = function(e){
            console.log("Razorpay Click 1")
            getOrderId()
            var options = {
            "key": "rzp_test_hmERS1B5i4JG0n", // Enter the Key ID generated from the Dashboard
            "amount":object.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": userName,
            "description": "Test Transaction",
            "image": "",
            "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature)
            },
            "theme": {
                "color": "#3399cc"
            }
            };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response){
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
        });
        rzp1.open();
        e.preventDefault();
    }


    //button
    
    function addQuantity(element, price, index) {
        const payButtonElement=document.getElementById("rzp-button1")
        const endAmountElement=document.getElementById("endAmount")
        let quantityElement = document.getElementById("quantity" + index);
        let priceElement = document.getElementById("price" + index);
        let quantity = parseInt(quantityElement.innerHTML) || 0; // Default to 0 if the innerHTML is not a number
        let endAmount=parseInt(endAmountElement.innerHTML)
        quantity += 1;
        quantityElement.innerHTML = quantity;
        priceElement.innerHTML = quantity * price;
        endAmountElement.innerHTML =endAmount+price
        payButtonElement.innerHTML ="READY TO PAY "+(endAmount+price).toString()
        updateQuantityOnServer(index, quantity);
    }

    function subQuantity(element, price, index) {
        let payButtonElement=document.getElementById("rzp-button1")
        let endAmountElement=document.getElementById("endAmount")
        let quantityElement = document.getElementById("quantity" + index);
        let priceElement = document.getElementById("price" + index);
        let quantity = parseInt(quantityElement.innerHTML) || 0; // Default to 0 if the innerHTML is not a number
        let endAmount=parseInt(endAmountElement.innerHTML) 
        if (quantity >= 1) {
            quantity -= 1;
            endAmountElement.innerHTML=endAmount-price
            payButtonElement.innerHTML ="READY TO PAY "+(endAmount-price).toString()
            quantityElement.innerHTML = quantity;
            priceElement.innerHTML =quantity * price;
            console.log(`INDEX IN SUB: ${index}`)

            updateQuantityOnServer(index, quantity);
        }
    }
    function updateQuantityOnServer(index, quantity){
        const url='/cart/updateQuantity'
        const data = {
            index: index,
            quantity: quantity
        };
        console.log(typeof(index));
        $.ajax({
            url: url,
            type: "PUT",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: true
        });
    }
    </script>
</body>
</html>
